<header>
  <div class="title">
    <h1>LOGO</h1>
  </div>

  <p-menubar [model]="items"></p-menubar>

  <div class="profile">
    <div class="profile-pic"> <span>GG</span></div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur eius itaque alias odit mollitia vitae sunt maiores nesciunt unde omnis? Quidem natus, quod adipisci temporibus accusamus reprehenderit voluptas totam tempore.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nesciunt facere placeat perferendis nisi recusandae voluptatem, porro ab fuga unde sequi dolorum, consequatur quis, eveniet mollitia beatae eius accusamus temporibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eligendi aut unde eos. Ratione, vitae molestias maiores eum nostrum commodi pariatur quaerat alias laborum! Voluptatem quaerat blanditiis ipsa atque nisi. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, voluptates. Magni odit doloremque molestias harum quasi praesentium aliquam quia ratione, suscipit repellat aut animi modi atque. Ducimus, magnam recusandae? Id! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum obcaecati labore vero placeat incidunt accusamus deleniti a inventore neque iusto odit magni eligendi harum corporis quaerat nam possimus, fuga suscipit!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias minima quos magni sequi doloremque officia, accusantium suscipit cum pariatur autem, incidunt possimus dignissimos fugiat harum adipisci ex nesciunt, quae deserunt?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptates dolores voluptatibus velit ad voluptatem laborum atque reprehenderit ut aperiam, debitis labore. Debitis animi, accusantium vero esse quo vel amet?
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore fugiat quas itaque doloremque perspiciatis excepturi blanditiis tenetur, obcaecati nisi magni provident dolor commodi deserunt! Cumque tenetur atque quasi excepturi quisquam?
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic sunt velit, doloribus cupiditate veniam quos exercitationem neque, sed iusto fuga eligendi ex facilis dolores iure beatae autem a incidunt ipsum!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic sunt velit, doloribus cupiditate veniam quos exercitationem neque, sed iusto fuga eligendi ex facilis dolores iure beatae autem a incidunt ipsum!</p>
</footer>
